#Home {
    width: 80%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home-left {
    min-width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: 'Inter';
    transition: 1s;
}

.home-left-greet {
    font-size: 52px;
    font-weight: 700;
    color: var(--bw);
}

.home-left-name {
    font-weight: 700;
    font-size: 70px;
    color: var(--primary);
}

.home-left-role {
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: var(--bw);
}

.home-left-view-btn {
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    padding: 0px 17px;
    margin-top: 20px;
    border-radius: 30px;
    transition: .2s;
    border: 2px solid var(--primary);
}

.home-left-view-btn:hover {
    background-color: transparent;
    box-shadow: 0px 0px 5px var(--primary);

}

.home-left-view-btn:hover p {
    color: var(--primary);
}

.home-left-view-btn:hover svg {
    color: var(--primary) !important;
}

.home-left-view-btn p {
    color: var(--wb);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .12rem;
}

.home-left-view-btn svg {
    color: var(--wb) !important;
}

.home-center {
    background-image: url('../../Asserts/FrontendBg.png');
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    min-width: 61%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.home-b-d{
    background-image: url('../../Asserts/DarkFrontendBg.png');
}

.home-center-active {
    position: sticky;
    background-image: url('../../Asserts/DeignBg.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 61%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.home-a-d{
    background-image: url('../../Asserts/DarkDeignBg.png');
}

.home-center-active .home-center-content {
    box-shadow: inset 30px 30px 30px 0px rgba(0, 0, 0, .3);
}

.home-center-active .home-center-content .home-circle {
    margin-right: -200%;
}

.home-center-active .home-center-content .fd-wrap .fd-img {
    margin-bottom: -60%;
}

.home-center-active .home-center-content .gd-wrap .gd-img {
    margin-top: 0%;
}

.home-center-content {
    position: relative;
    margin-top: 3%;
    width: 100%;
    aspect-ratio: 1.93/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 500px;
    align-items: flex-end;
    box-shadow: inset -30px 30px 30px 0px rgba(0, 0, 0, .3);
    margin: 8px;
    background: linear-gradient(178deg, var(--g1) -12.75%, var(--g2) 108.03%);
    transition: 1s;

}
.home-center-content::after{
    content: '';
    z-index: -3;
    position: absolute;
    border-radius: 500px;
    width: 100%;
    height: 100%;
    padding: 7px;
    transform: translate(-7px,7px);
    background: linear-gradient(16deg, var(--g1) 3.57%, var(--g2) 94.33%);
}

.fd-wrap {
    width: 100%;
    height: 115%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 26.4vh;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}

.fd-img {
    height: 98%;
    transition: .8s;
}

.gd-wrap {
    width: 100%;
    height: 115%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 26.4vh;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}

.gd-img {
    margin-top: 60%;
    height: 121%;
    margin-left: -8%;
    transition: .8s;
}

.home-circle {
    justify-self: center;
    transition: 1s;
    align-self: center;
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    grid-column-start: 1;
    grid-row-start: 1;
    background-size: cover;
    background: linear-gradient(116deg, var(--g1) 10.91%, var(--g2) 88%);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
}

.home-circle::after{
    position: absolute;
    content: '';
    transform-origin: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1.9px solid var(--primary);
    transform: scale(.87);
    margin-top: -1px;
    margin-left: -1px;
}



.home-circle::before{
    position: absolute;
    content: '';
    transform-origin: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(247deg, var(--g1) 12.52%, var(--g2) 101.79%);
    border-radius: 50%;
    background-color: var(--primary);
    transform: scale(.94);
}

.home-right {
    margin-right: -39%;
    min-width: 39%;
    transition: 1s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-family: 'Inter';
}

.home-right-active {
    min-width: 39%;
    transition: 1s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-family: 'Inter';
}

.home-right-content {
    width: fit-content;
    margin-right: 30px;
}

.home-right-greet {
    font-size: 52px;
    font-weight: 700;
    color: var(--bw);
}

.home-right-name {
    font-weight: 700;
    font-size: 70px;
    color: var(--primary);
}

.home-right-role {
    color: var(--bw);
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
}

.home-right-viewa-link {
    text-decoration: none;
}

.home-right-view-btn {
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    padding: 0px 17px;
    margin-top: 20px;
    border-radius: 30px;
    transition: .2s;
    border: 2px solid var(--primary);
}

.home-right-view-btn svg{
    color: var(--wb) !important;
}

.home-right-view-btn:hover {
    box-shadow: 0px 0px 5px var(--primary);
    background-color: transparent;
}

.home-right-view-btn:hover p {
    color: var(--primary) !important;
}

.home-right-view-btn:hover svg {
    color: var(--primary) !important;
}

.home-right-view-btn p {
    color: var(--wb);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .12rem;
}

@media (min-width: 320px) and (max-width:480px) {

    #Home {
        width: 90%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .home-left {
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: center;
        width: 90%;
    }

    .home-center,
    .home-center-active {
        background-position-y: center;
        background-size: 230px;
    }

    .home-center-content::after{
        padding: 5px;
        transform: translate(-5px,5px);
    }

    .home-center-content {
        margin-top: 0;
    }

    .home-right {
        margin-left: 200%;
        align-items: flex-start;
        justify-self: center;
        width: 90%;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .home-left:has(+ .home-center-active) {
        margin-right: 200%;
    }

    .home-right-active {
        margin-left: 0%;
        align-items: flex-start;
        justify-self: center;
        width: 90%;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .home-right-content {
        margin-right: 0;
    }

    .home-left-greet,
    .home-right-greet {
        font-size: 12vw;
    }

    .home-left-name,
    .home-right-name {
        font-size: 16vw;
    }

    .home-left-role,
    .home-right-role {
        font-size: 5vw;
    }

    .home-circle {
        -webkit-user-select: none;
        cursor: not-allowed;
    }

    .fd-wrap {
        border-radius: 23vh;
    }
}